#proses-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 2147483660;
    display: none;
}
.loading-content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
}

.ace-nav > li.light-blue > a {
    background-color: #97c3bf0d;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd;
    vertical-align: text-top;
}